<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu sieci Web. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f110dd57-4d70-4510-83d4-00a12666f344/resourcegroups/ITAPP/providers/Microsoft.Web/sites/ITAPPCarWorkshopService</ResourceId>
    <ResourceGroup>ITAPP</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://itappcarworkshopservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>itappcarworkshopservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ITAPPCarWorkshopService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ITAPPCarWorkshopService</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ITAPPCarWorkshopServiceDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=itappcarworkshopserviceserwer.database.windows.net;Initial Catalog=ITAPPCarWorkshopServiceDB;Persist Security Info=True;User ID=itappAdmin;Password=ITAPPdatabase1;Application Name=EntityFramework" Name="Data Source=itappcarworkshopserviceserwer.database.windows.net;Initial Catalog=ITAPPCarWorkshopServiceDB;Persist Security Info=True;User ID=itappAdmin;Password=ITAPPdatabase1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ITAPP_CarWorkshopService.ITAPPCarWorkshopServiceDBEntities, ITAPP_CarWorkshopService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ITAPPCarWorkshopServiceDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.csdl|res://*/Models.ssdl|res://*/Models.msl;provider=System.Data.SqlClient;provider connection string="Data Source=itappcarworkshopserviceserwer.database.windows.net;Initial Catalog=ITAPPCarWorkshopServiceDB;Persist Security Info=True;User ID=itappAdmin;Password=ITAPPdatabase1;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>